.message_service_btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  padding-top: 150px;
}

.success_btn,
.error_btn,
.warning_btn,
.info_btn {
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
