<div class="message_service_btn">
  <button (click)="messageService.showSuccess('Success')" class="success_btn" id="show-success-btn">
    Success
  </button>
  <button (click)="messageService.showError('Error')" class="error_btn" id="show-error-btn">
    Error
  </button>
  <button (click)="messageService.showWarn('Warn')" class="warning_btn" id="show-warning-btn">
    Warning
  </button>
  <button (click)="messageService.showInfo('Info')" class="info_btn" id="show-info-btn">
    Info
  </button>
</div>
