<div class="toast-container">
  @for (message of messageService.getMessages(); track message.id) {
    <ng-container *ngTemplateOutlet="toastTemplate; context: { $implicit: message }">
    </ng-container>
  }
</div>

<ng-template #toastTemplate let-message>
  <div class="toast" [ngClass]="'toast--' + message.type.toLowerCase()">
    <img src="./images/mail-icon.svg" alt="" />
    <div class="toast-content">
      <h2>{{ message.type }}</h2>
      <p>{{ message.text }}</p>
    </div>
    <button [attr.id]="'message-' + message.id" (click)="messageService.closeMessage(message.id)">
      <img src="./images/delete-icon.svg" alt="Удалить" />
    </button>
  </div>
</ng-template>
